#country-list {
  display: grid;
  column-gap: 6%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 5em;
  color: $light-text;
  font-size: 0.875em;

  @include mobile {
    grid-template-columns: 1fr;
    margin: 0 12%;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include tablet-l {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .country {
    background-color: $light-elements;
    border-radius: 0.3em;
    box-shadow: 1px 1px 4px 2px rgba(26.67%, 26.67%, 26.67%, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: transform 200ms, background-color 1000ms, color 1000ms;

    &:hover {
      box-shadow: 1px 1px 4px 2px rgba(26.67%, 26.67%, 26.67%, 0.2);
      transform: translateY(-5px);
    }

    &:active {
      transform: scale(1.2);
    }

    img {
      height: 11em;
      width: 100%;
      object-fit: cover;
    }

    div {
      padding: 0 1em 2.5em 1em;

      p {
        margin: 0;
      }

      span {
        font-weight: 600;
      }
    }
  }
}
