#country-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 80%;

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    padding-bottom: 2em;
  }

  @include tablet {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }

  .back-button {
    margin-bottom: 4em;
    height: 3em;
    width: 9em;
    font-weight: 600;
    transition: transform 200ms, background-color 1000ms, color 1000ms;

    &:hover {
      transform: translateX(-5px);
    }

    svg {
      margin-right: 0.2em;
    }
  }

  img {
    grid-column: 1;
    width: 80%;

    @include mobile {
      margin-bottom: 2em;
      width: 100%;
    }
  }

  div {
    align-self: center;
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    transition: 1000ms;

    @include mobile {
      grid-column: 1;
      grid-template-columns: 1fr;
      grid-row-gap: 1em;
    }

    @include tablet {
      grid-column: 1;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 1em;
    }

    h3 {
      grid-row: 1;

      @include mobile {
        margin-top: 1em;
      }
    }

    .details-left,
    .details-right {
      grid-row: 2;
      padding: 0;
      list-style-type: none;

      @include mobile {
        margin-top: 0;
      }
    }

    .details-right {
      @include mobile {
        grid-row: 3;
      }
    }

    span {
      font-weight: 600;
    }

    div {
      display: block;
      grid-row: 3;
      grid-column-end: 3;
      grid-column-start: 1;

      @include mobile {
        grid-row: 4;
      }

      p {
        display: inline;
        margin-right: 0.8em;
        width: fit-content;

        @include mobile {
          display: block;
        }
      }
    }

    button {
      padding: 0.6em 1em;
      margin-bottom: 1em;
      margin-right: 0.5em;
      text-align: right;
      transition: transform 200ms, background-color 1000ms, color 1000ms;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}
