body.dark {
  background-color: $dark-background;

  nav {
    background: $dark-elements;
    color: $dark-text;
    box-shadow: 1px 1px 4px 2px rgba(0%, 0%, 0%, 0.1);
  }

  #filter-search {
    .search-container,
    .filter-container {
      box-shadow: 1px 1px 4px 2px rgba(0%, 0%, 0%, 0.1);
    }

    form,
    input {
      background-color: $dark-elements;
      color: $dark-text;

      svg {
        color: $dark-text;
      }

      &::placeholder {
        color: $dark-text;
      }
    }

    .filter-container,
    .filter-list {
      background-color: $dark-elements !important;
      color: $dark-text;

      .list-item:hover {
        color: $dark-text !important;
      }
    }

    .fa-times-circle:hover {
      color: $dark-text;
    }
  }

  #countries {
    .loader,
    .not-found {
      color: $dark-text;
    }

    .country {
      background-color: $dark-elements !important;
      color: $dark-text;
      box-shadow: 1px 1px 4px 2px rgba(0%, 0%, 0%, 0.1);

      &:hover {
        box-shadow: 1px 1px 4px 2px rgba(0%, 0%, 0%, 0.3);
      }
    }
  }

  #country-details {
    button {
      background-color: $dark-elements;
      color: $dark-text;
      box-shadow: 1px 1px 4px 2px rgba(0%, 0%, 0%, 0.1);
    }

    div {
      color: $dark-text;
    }
  }
}
