#search-filter {
  margin-bottom: 3em;
  display: flex;
  justify-content: space-between;

  @include mobile {
    display: grid;
    grid-row-gap: 2.5em;
  }

  .search-container {
    @include mobile {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    form {
      display: flex;
      padding: 1em;
      width: 28vw;
      background-color: $light-elements;
      border-radius: 0.3em;
      box-shadow: 1px 1px 4px 2px rgba(26.67%, 26.67%, 26.67%, 0.1);
      font-family: "Nunito Sans";
      transition: 1s;

      @include mobile {
        width: unset;
      }

      svg {
        color: $light-input;
        opacity: 0.5;
      }

      .fa-search {
        margin-right: 0.5em;
      }

      input {
        width: 85%;
        border: none;
        transition: 1s;

        &:focus-visible {
          outline: none;
        }
      }

      .fa-times-circle {
        margin-left: 1.2em;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .filter-container {
    align-items: center;
    display: flex;
    position: relative;
    width: 13vw;
    background-color: $light-elements;
    border-radius: 0.3em;
    box-shadow: 1px 1px 4px 2px rgba(26.67%, 26.67%, 26.67%, 0.1);
    color: $light-input;
    font-family: "Nunito Sans";
    font-size: 0.833em;
    font-weight: 600;
    transition: 1s;

    @include mobile {
      width: 50vw;
      grid-column-start: 1;
      height: 3.3em;
    }

    &:hover {
      box-shadow: 1px 1px 4px 2px rgba(26.67%, 26.67%, 26.67%, 0.2);
    }

    .filter-header {
      margin-left: 1em;
      padding: 1em 1em 1em 0;
      position: absolute;
      width: 10vw;
      cursor: pointer;
      font-weight: 600;

      @include mobile {
        width: 40vw;
      }

      .fa-chevron-down,
      .fa-chevron-up {
        position: absolute;
        bottom: 1.2em;
        right: 0;
        cursor: pointer;
      }

      .filtered {
        right: 1.5em;
      }
    }

    .fa-times-circle {
      position: absolute;
      right: 0.7em;
      cursor: pointer;
      font-size: 1rem;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    .filter-list-container {
      position: relative;

      .filter-list {
        margin: 0;
        padding: 0 0 0 1em;
        position: absolute;
        top: 2.1em;
        width: 13vw;
        z-index: 1;
        background: $light-elements;
        border-radius: 0.3em;
        box-shadow: 1px 1px 4px 2px rgba(26.67%, 26.67%, 26.67%, 0.1);
        box-sizing: border-box;
        transition: 1s;

        &:first-child {
          padding-top: 0.8em;
        }

        @include mobile {
          width: 50vw;
        }

        .list-item {
          margin-bottom: 0.8em;
          cursor: pointer;
          font-weight: 600;
          list-style: none;

          &:hover {
            color: $light-text;
          }
        }
      }
    }
  }
}
